
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body, 
html {
    font-family: 'Roboto';
    font-weight: 400;
    background-color: #e1e1e1;
    
}
.content {
    margin: auto;
    max-width: 600px;
}
.panel {
    background-color: #fff;
    width: 400px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto;   
}
.panel h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 20px;
    font-size: 3rem;
    color: rgb(184, 110, 0);
}
.panel ul {
    list-style: none;
    display: inline-flex;
    padding: 20px;
}
.panel li {
    margin: 25px;
}
.panel a {
    text-decoration: none;
    color: rgb(112, 112, 112);
}
.panel a:hover {
color: rgb(184, 110, 0);
}
img {
    width: 100%;
    margin: 30px auto;
    border-radius: 10px;
}
h3 {
    font-size: 2rem;
    font-weight: 200;
    padding: 20px 0px;
    color: rgb(184, 110, 0);
}
span {
    padding-top: 20px;
    font-weight: 200;
    font-size: 1rem;
    color: black;
}
span a{
    text-decoration: none;
    color: black;
}
.recipes ul {
    color: rgb(112, 112, 112);
    padding: 20px 20px;
} 
.steps ol {
    color: rgb(112, 112, 112);
    padding: 20px 20px;
} 
